* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 80vw;
  margin: 0 auto;
  margin-top: 10px;

}

body {
  background-color: rgba(0, 0, 0, 0.822);
}

p {
  color: rgba(255, 255, 255, 0.596);
}

input {
  width: 100%;
}

select {
  width: 100%;
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 4px;
  font-size: 1.025rem;
  letter-spacing: 1px;
  outline: none;
  padding: 6px;
  margin-bottom: 10px;
}